.mission {
  margin-top: 97px;
  position: relative;
  overflow: hidden;
  background-color: $color-smalt;

   @include vp-1019 {
    margin-top: 74px;
  }

  @include vp-699 {
    margin-top: 51px;
  }

  @include vp-319 {
    margin-top: 30px;
  }
}

.mission__top {
  padding-top: 94px;
  padding-bottom: 94px;

  position: relative;
  overflow: hidden;


  @include vp-1339 {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  @include vp-1019 {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  @include vp-699 {
    padding-top: 32px;
    padding-bottom: 32px;

    display: flex;
    align-items: center;
  }

  @include vp-319 {
    padding-top: 33px;
    padding-bottom: 31px;

    align-items: flex-start;
  }
}

.mission__top p {
  margin: 0 0 0 33px;
  max-width: 676px;

  display: inline-block;
  vertical-align: middle;

  font-family: $ff-lato;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: $color-default-white;
  z-index: 1;

  @include vp-699 {
    margin: 0 0 0 27px;

    font-family: $ff-arial;
    font-size: 16px;
    line-height: 20px;
  }

  @include vp-319 {
    margin: 0 0 0 7px;
  }
}

.mission__quotes {
  width: 100%;
  height: 100%;
  max-width: 47px;

  display: inline-block;
  vertical-align: middle;

  @include vp-699 {
    max-width: 22px;
  }
}

.mission__decor-wrapper {
  width: 100%;
  height: 100%;
  max-width: 437px;

  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(1%, -21%);
  object-fit: cover;

  @include vp-1019 {
    transform: translate(65%,-23%)
  }

  @include vp-699 {
    max-width: 179px;
    transform: translate(1%,-35%);
  }

  @include vp-319 {
    transform: translate(27%,-20%);
  }

}

.mission__decor {
  width: 100%;
  height: 100%;
}

.mission__bottom {
  padding-top: 80px;
  padding-bottom: 101px;
  position: relative;
  align-items: center;
    z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../img/background/mission-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-back-header;
  color: $color-default-white;

  @media (min-width: 1024px) {
    @include retina {
      background-image: url("../img/background/mission-back@2x.jpg");
    }
  }

  @include vp-1019 {
    padding-top: 84px;
  }

  @include vp-699 {
    padding-top: 56px;
    padding-bottom: 55px;
  }

   @include vp-319 {
        padding-top: 28px;
  }
}

.mission__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission__content h2 {
  margin: 0;

  display: inline-block;
  vertical-align: middle;
  position: relative;

  font-family: $ff-lato;
  font-weight: 400;
  font-size: 48px;
  line-height: 80px;
  text-transform: uppercase;
  color: $color-default-white;

  &::before {
    position: absolute;
    content: "";
    width: 66px;
    height: 3px;
    background-color: $color-default-white;
    left: -88px;
    top: 50%;
  }

  &::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 3px;
    background-color: $color-default-white;
    right: -88px;
    top: 50%;
  }

  @include vp-699 {
    font-size: 30px;
    line-height: 46px;

    &::before {
      width: 15px;
    height: 1px;
    left: -29px;
    top: 44%;
    }

    &::after {
      width: 15px;
    height: 1px;
    right: -29px;
    top: 44%;
    }
  }

  @include vp-319 {
    font-size: 18px;

    &::before {
      left: -31px;
    top: 45%;
    }

    &::after {
      right: -31px;
    top: 45%;
    }

  }
}

.mission__content p {
  margin: 40px 0;

  font-family: $ff-arial;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: $color-default-white;

  @include vp-1019 {
    margin: 35px 0 37px;
    max-width: 585px;

    text-align: center;
  }

  @include vp-699 {
    max-width: 430px;
    margin: 18px 0 11px;

    font-size: 16px;
line-height: 20px;
  }

  @include vp-319 {
    max-width: 277px;
    margin: 4px 0 29px;
  }
}

.mission__button {
  width: 100%;
  height: 100%;
  max-width: 283px;
  padding: 20px;

  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  user-select: none;

  font-family: $ff-arial;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: $color-smalt;
  background-color: $color-default-white;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-smalt;
    transition: opacity $trans-default, background-color $trans-default, color $trans-default;
    color: $color-default-white;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include vp-699 {
    max-width: 171px;
    padding: 10px;

    font-size: 14px;
  }


  @include vp-319 {
    max-width: 197px;

    font-size: 18px;
  }
}
