// Vendor
// ---------------------------------

@import "vendor/normalize";
// Swiper 7.4.1
@import "vendor/swiper";

// Global
// ---------------------------------

@import "variables";
@import "mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Blocks
// ---------------------------------

@import "blocks/main-header";
@import "blocks/logo";
@import "blocks/main-nav";
@import "blocks/preview";
@import "blocks/mission";
@import "blocks/features";
@import "blocks/slider-control";

// ---------------------------------
